<div class="columns">
  <h2 class="column is-narrow title">Products</h2>
  <div class="column">
    <button class="button is-rounded" (click)="changeList()">Toggle</button>
  </div>
</div>

<div [ngClass]="{'hidden':  loading != products.length && products.length > 0}">
  <div *ngFor="let product of products" class="m-4">
    <h2 class="subtitle mb-0">
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h2>
    <div class="is-flex">
      <p *ngIf="product.description" class="mr-2">
        {{ product.description }}
      </p>
      <h3 class="subtitle is-6" [mathjax]="makeTexElement(product.price)">{{ product.price }}</h3>
    </div>
    <div class="container is-flex mt-2">
      <button class="button is-primary mr-2" (click)="share(product)">Share</button>
      <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
    </div>
  </div>
</div>

<progress *ngIf="loading != products.length && products.length > 0" class="progress is-primary m-6" max="100">15%</progress>

<h1 class="title is-6" *ngIf="products.length == 0">Empty list</h1>

<div class="columns">
  <div class="column is-narrow">
    <button class="button is-success" (click)="loadComponent()">Add view</button>
  </div>
  <div class="column is-narrow">
    <button class="button is-danger" (click)="clearComponent()">Remove view</button>
  </div>
</div>

<div>
  <ng-template eqexHost></ng-template>
</div>