<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" [ngClass]="{'is-active': isOpen}" (click)="toggleNavbar()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a *ngFor="let item of menuElements" class="navbar-item" [routerLink]="item.first">{{ item.second }}</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngFor="let button of buttonElements" [class]="button.third" [routerLink]="button.first" [innerHTML]="button.second"></a>
        </div>
      </div>
    </div>
  </div>
</nav>