<app-navbar [menuElements]="menuElements" [buttonElements]="buttonElements"></app-navbar>

<mat-sidenav-container (backdropClick)="toggleNavbar()">
    <mat-sidenav #drawer>
        <app-sidenav [menuElements]="menuElements" [buttonElements]="buttonElements"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="is-flex is-justify-content-flex-end mx-6 mt-3">
            <a class="button is-black" routerLink="/cart">Cart</a>
        </div>
        <div class="container p-6">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>